#footer
    position: absolute
    bottom: 0
    left: 50%
    width: 100vw
    transform: translateX(-50%)
    border-top: 1px solid #fff
    height: 70px
    & .container
        height: 100%
        display: flex
        align-items: center
        & .cont
            width: 100%
            display: flex
            & .creators
                display: flex
                margin: 0 auto
                & a
                    color: grey
                    transition: .2s all ease
                    &:hover
                        color: red
                    &:nth-child(2)
                        margin-right: 20px
                &_title
                    color: grey
                    margin-right: 40px
